*, *::before, *::after {
  box-sizing: border-box;
}

html, body, div, button, span, a {
  margin: 0;
  padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.controls {
  margin-block: 0.3em;
  display: flex;
  align-items: stretch;
  gap: 0.4em;
  font-family: Arial, Helvetica, sans-serif;
}

a, a:visited, a:active, a:hover {
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  color: black;
  background-color: #E9E9ED;
  font-size: 1.5em;
  padding: 0.2px 0.3em;
  border: 1px solid #8F8F9C;
  border-radius: 0.15em;
  outline: none;
  transition: background-color 100ms, box-shadow 100ms;
}

a:hover:not(.disabled) {
  background-color: #D9D9DD;
  box-shadow: 0px 0px 5px 0px black;
}

a.disabled {
  color: gray;
  cursor: not-allowed;
}

a > span {
  display: inline-block;
  padding: 5px 0 0 0;
}

a.reset {
  padding-inline: 0.7em;
}

a.reset > span {
  padding-top: 2px; 
}

.undo-counter {
  margin-left: 0.2em;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.3em;
  color: gray;
  font-size: 80%;
}

.undo-counter .count {
  font-weight: bold;
  color: black;
}

.grid {
  display: grid;
  background-color: rgb(192, 192, 192);
  font-family: 'Times New Roman', Times, serif;
}

.cell {
  aspect-ratio: 1 / 1;
  color: rgb(1, 127, 1);
  text-align: center;
  align-content: end;
  font-size: 2em;
  font-weight: bold;
  cursor: default;
  outline: 0px;
  display: grid;
  border: 1px solid gray;
  justify-self: stretch;
  box-shadow: none;
  -webkit-user-select: none; 
  user-select: none;
}

.cell.hidden {
  cursor: pointer;
  box-shadow: .08em .08em #ffffff inset, -.08em -.08em grey inset;
}

.cell.boom {
  font-size: 1.6em;
  align-content: center;
}

.cell.flagged {
  font-size: 1.6em;
  align-content: center;
}

.cell.v0 {
  color: #00000000;
}

.cell.v1 {
  color: #0100fe;
}

.cell.v2 {
  color: #017f01;
}

.cell.v3 {
  color: #fe0000;
}

.cell.v4 {
  color: #010080;
}

.cell.v5 {
  color: #810102;
}

.cell.v6 {
  color: #008081;
}

.cell.v7 {
  color: #000000;
}

.cell.v8 {
  color: #808080;
}

.grid.boom .cell {
    border: 1px solid red;
}

.grid.win .cell {
  border: 1px solid green;
}

.game {
  margin: 0.3em 0 0 0.3em;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}